<h1>All Categories & Subcategories</h1>

<p><%= link_to 'New Listing', new_listing_path %></p>

<ul>
  <% @categories.each do |category| %>
    <li><%= link_to category.name, category_path(category) %><%=  %></li>
      <ul>
        <% category.subcategories.each do |subcategory| %>
        <li><%= link_to subcategory.name, subcategory_path(subcategory) %></li>
      <% end %>
    </ul>
  <% end %>
</ul>
