<h2><%= @category.name %></h2>
<ul>
  <% @category.subcategories.each do |subcategory| %>
    <li><%= link_to subcategory.name, subcategory_path(subcategory) %></li>
  <% end %>
</ul>

<%= link_to 'All Categories', categories_path %>
